//global
$gLightgray: #ddd;
// home
$home-background-color: #dedede;
$home-font-color: #000;

// md-card
$md-card-title-color: #114991;

//highlight
$highlight-grey: #dedede;

//sidenav
$sidenav-toolbar-bg: #567;
$sidebar-menuitem: aliceblue;
$sidebar-menuitem-active: #568AE3;
$sidebar-menuitem-hover: #6796E6;