body {
  width:100%;
  padding:0;
  margin:0;
  word-wrap: break-word;
    background-color: #efefef;
}

.pointer {
    cursor: pointer;
}

md-card.filtersm {
    height:300px;
    width:100%;
}

md-card.filtermd {
    width: 100%;
    height: 200px;
}
md-card.filterlg {
    width: 250px;
    min-height: 400px;
    height: 100%;
}



md-card.filtergtlg {
    width: 250px;
    min-height: 400px;
    height: 100%;
}

md-button.minfilterbar {
    width: 25px;
    height: 100%;
    min-height: 400px;
}

md-button.minfilterbarsm {
    width: 100%;
    height: 50px;
}

md-card.mycardsm {
    width: 300px;
    height: 200px;
}

md-card.mycardmd {
    min-width: 325px;
    height: 200px;
}


md-card.mycardgtmd {
    min-width: 325px;
    height: 200px;
}

md-card.mycardgtmdbig {
    min-width: 500px;
    height: 400px;
}


md-card.profilepicture {
    min-width: 300px;
    height: 300px;
}

md-card.profilemaindata {
    width: 500px;
    min-height: 300px;
}

div.usercomments{
    width: 800px;
}
md-tabs.profiletab{
    min-width: 600px;
    max-width: 800px;
     background: #f6f6f6;
    color:black;
}
md-tabs.profiletabsm{
    min-width: 300px;
     background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

md-card.editprofilecontacts {
    width: 800px;
    min-height: 300px;
}

md-card.longprofilecontacts {
    width: 800px;
    min-height: 300px;
}